@import './media';

header {
  // margin-top: 2rem;
  width: 100%;
  max-height: 580px;
  position: relative;
  .next {
    position: absolute;
    z-index: 1;
    color: red;
    top: 45%;
    bottom: 0;
    right: 12px;
    font-size: 1.7em;
    cursor: pointer;
  }
  .prev {
    position: absolute;
    top: 45%;

    bottom: 0;
    left: 12px;
    z-index: 1;
    font-size: 1.7em;
    color: red;
    cursor: pointer;
  }

  .slide {
    width: 100%;

    // img {
    // 	width: 100%;
    // }
  }
  .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      // margin: 0 0.4rem;
      background: rgba(255, 255, 255, 0.342);
      border-radius: 50%;
      // width: 1em;
      // height: 1em;
      // cursor: pointer;
      position: relative;
      display: inline-block;
      margin: 0 5px;
      padding: 0;
    }
    button {
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      display: block;
      padding: 0.5rem;
      border-radius: 60%;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }
  }
}
.slick-dots li.slick-active button {
  background: rgb(255, 255, 255);
}
.single-item {
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .slide {
    min-height: 580px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .slide1 {
    background-image: url('/Images/slides_images/1.jpg');
  }
  .slide2 {
    background-image: url('/Images/slides_images/2.jpg');
  }
  .slide3 {
    background-image: url('/Images/slides_images/3.jpg');
  }
  .slide4 {
    background-image: url('/Images/slides_images/4.jpg');
  }
  .slide5 {
    background-image: url('/Images/slides_images/5.jpg');
  }
}

// end slide
.Just_added {
  // margin-left: 0.5rem;
  @include mobile {
    margin: 1rem 0rem 0 1rem;
  }
  @include mobilemini {
    margin: 1rem 0rem 0 0.5rem;
  }
  .heding_name {
    margin-right: 0.5rem;
    border-bottom: 1px solid rgb(116, 116, 116);
    p {
      text-transform: uppercase;
      padding-left: 0.3rem;
    }
  }
  .slide_btn {
    display: none;
  }
  .addedslide {
    //  border: 1px solid red;
    //  margin: 1rem;
    display: block;
    width: 100%;
    //  padding-left: 1rem;
    //  display: flex;
    .conatainer_slide {
      max-width: 234px !important;
      // width: 110px !important;
      height: 100%;
      display: block;
      overflow: hidden;
      align-items: center;
      margin: 0.6rem;
      @include mobilemini {
        width: 110px !important;
      }
      .conatainer_image {
        display: inline-block;
        width: 100%;
        a {
          display: block;
          text-decoration: none;
          .title_conatiner {
            color: #fff;
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.image_details {
  padding-top: 148%;
  position: relative;
  width: 100%;
  img {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .details {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(58, 58, 58, 0.774);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 5px 8px 8px;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  }
  &:hover .details {
    // transform: translateX(235px);
    z-index: 3;
    transition: transform 0.4s ease-in-out;
  }
}
