@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@media screen and (max-width: 1200px) {
  nav .nav_links {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    background: #000;
    width: 100%;
    height: 100vh;
    padding: 8rem 2rem;
    -webkit-transition: 0.4s all ease-out;
    transition: 0.4s all ease-out;
  }
  nav .nav_links .nav_items {
    padding-bottom: 2rem;
    font-weight: 700;
    cursor: pointer;
  }
  nav .nav_links .nav_items ul {
    left: 30px;
    position: relative;
  }
}

@media screen and (max-width: 493px) {
  nav .left_side .search {
    display: none;
  }
}

.nav_links.show {
  z-index: 0;
  left: 0;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background: red;
  padding: 0.3rem 0.9rem;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

nav {
  z-index: 222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_container .toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  nav .nav_container .toggle {
    display: block;
  }
}

nav .nav_container .logo {
  padding: 0 3rem;
}

nav .nav_container .logo img {
  width: 130px;
}

@media screen and (max-width: 1200px) {
  nav .nav_container .logo {
    text-align: center;
    padding: 0rem 1rem;
  }
  nav .nav_container .logo img {
    width: 100px;
  }
}

nav .left_side {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

nav .left_side .search {
  font-size: 1.2rem;
  padding-right: 1.3rem;
}

nav .left_side p {
  padding-right: 1rem;
}

.nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_links .nav_items {
  padding-right: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.nav_links .nav_items a {
  color: #fff;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.nav_items ul {
  position: absolute;
  padding-top: 1rem;
  display: none;
  -webkit-transition: 0.7s all ease-in;
  transition: 0.7s all ease-in;
}

.nav_items ul li {
  background: #000;
  padding: 0.8rem 0.6rem;
}

.nav_items ul li a {
  font-size: 15px;
}

.nav_items i {
  font-size: 1.2rem;
}

.nav_items:hover ul {
  display: block;
}

.nav_items:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
/*# sourceMappingURL=main.css.map */