@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@media screen and (max-width: 1200px) {
  nav .nav_links {
    display: block;
    position: absolute;
    top: 0;
    z-index: 5;
    left: -100%;
    background: #000;
    width: 100%;
    height: 100vh;
    padding: 8rem 2rem;
    -webkit-transition: 0.4s all ease-out;
    transition: 0.4s all ease-out;
  }
  nav .nav_links .nav_items {
    padding-bottom: 2rem;
    font-weight: 700;
    cursor: pointer;
  }
  nav .nav_links .nav_items ul {
    left: 30px;
    position: relative;
  }
}

@media screen and (max-width: 493px) {
  nav .nav_right .search {
    display: none;
  }
}

.nav_links.show {
  z-index: 2;
  left: 0;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

header {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  header {
    max-height: 380px;
  }
  header .single-item {
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  header .single-item .slide {
    min-height: 380px;
    background-position: center center;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 493px) {
  header {
    max-height: 100%;
  }
  header .single-item {
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  header .single-item .slide {
    min-height: 175px;
  }
}

header {
  width: 100%;
  max-height: 580px;
  position: relative;
}

header .next {
  position: absolute;
  z-index: 1;
  color: red;
  top: 45%;
  bottom: 0;
  right: 12px;
  font-size: 1.7em;
  cursor: pointer;
}

header .prev {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 12px;
  z-index: 1;
  font-size: 1.7em;
  color: red;
  cursor: pointer;
}

header .slide {
  width: 100%;
}

header .slide img {
  width: 100%;
}

header .slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

header .slick-dots li {
  background: rgba(255, 255, 255, 0.637);
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

header .slick-dots button {
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 0.5rem;
  border-radius: 60%;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li.slick-active button {
  background: #000;
}

.single-item {
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.single-item .slide {
  min-height: 580px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.single-item .slide1 {
  background-image: url("/Images/slides_images/1.jpg");
}

.single-item .slide2 {
  background-image: url("/Images/slides_images/2.jpg");
}

.single-item .slide3 {
  background-image: url("/Images/slides_images/3.jpg");
}

.single-item .slide4 {
  background-image: url("/Images/slides_images/4.jpg");
}

.single-item .slide5 {
  background-image: url("/Images/slides_images/5.jpg");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background: red;
  padding: 0.3rem 0.9rem;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

nav {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_left .toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 3;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  nav .nav_left .toggle {
    display: block;
  }
}

nav .nav_left .logo {
  padding: 0 3rem;
}

nav .nav_left .logo img {
  width: 130px;
}

@media screen and (max-width: 1200px) {
  nav .nav_left .logo {
    text-align: center;
    padding: 0rem 1rem;
  }
  nav .nav_left .logo img {
    width: 100px;
  }
}

nav .nav_right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

nav .nav_right .search {
  font-size: 1.2rem;
  padding-right: 1.3rem;
  color: #fff;
}

nav .nav_right p {
  padding-right: 1rem;
  color: #fff;
}

.nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_links .nav_items {
  padding-right: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

.nav_links .nav_items a {
  color: #fff;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.nav_items ul {
  position: absolute;
  padding-top: 1rem;
  display: none;
  -webkit-transition: 0.7s all ease-in;
  transition: 0.7s all ease-in;
}

.nav_items ul li {
  background: #000;
  color: #fff;
  padding: 0.8rem 0.6rem;
}

.nav_items ul li a {
  font-size: 15px;
}

.nav_items i {
  font-size: 1.2rem;
}

.nav_items:hover ul {
  display: block;
}

.nav_items:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
/*# sourceMappingURL=main.css.map */