@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

// fonst
@import './media';
@import './responsive';
@import './slide';
$normarl_font: 'Open Sans', sans-serif;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #000;
	color: #fff;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
.btn {
	background: red;
	padding: 0.3rem 0.9rem;
	color: #fff;
	font-weight: 700;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
}
// nav start
nav {
	z-index: 3;
	display: flex;
	background: #000;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
	.nav_left {
		display: flex;
		align-items: center;
		.toggle {
			font-size: 1.5rem;
			cursor: pointer;
			display: none;
			z-index: 3;
			color: #fff;
			@include tab {
				display: block;
			}
		}
		.logo {
			padding: 0 3rem;
			img {
				width: 130px;
			}
			@include tab {
				text-align: center;
				padding: 0rem 1rem;
				img {
					width: 100px;
				}
			}
		}
	}
	.nav_right {
		align-items: center;
		display: flex;
		margin-right: 1rem;
		.search {
			font-size: 1.2rem;
			padding-right: 1.3rem;
			color: #fff;
		}
		p {
			padding-right: 1rem;
			color: #fff;
		}
	}
}
// nav links
.nav_links {
	display: flex;
	.nav_items {
		padding-right: 1.4rem;
		font-weight: 700;
		cursor: pointer;
		color: #fff;

		a {
			color: #fff;
			font-size: 1rem;
			font-family: $normarl_font;
			text-transform: uppercase;
		}
	}
}
// for dorp down
.nav_items {
	ul {
		position: absolute;
		padding-top: 1rem;
		display: none;
		z-index: 3;
		transition: 0.7s all ease-in;
		li {
			background: #000;
			color: #fff;
			padding: 0.8rem 0.6rem;
			a {
				font-size: 15px;
			}
		}
	}
	i {
		font-size: 1.2rem;
	}
	&:hover ul {
		display: block;
	}
	&:hover i {
		transform: rotate(180deg);
		transition: 0.3s all ease-in;
	}
}

// fotter staart
.footer {
	background: #000;
	position: fixed;
	bottom: 0;
	width: 100%;
	.footer_container {
		padding: 0.6rem 1rem;
		width: 100%;
		ul {
			align-items: center;
			display: flex;
			justify-content: space-between;

			li {
				display: block;
				text-align: center;
				font-size: 1.1rem;
				font-family: sans-serif;
				i {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
	}
}
.active {
	color: red !important;
}
